.hub{
    background-color: #430ef0;
    color: black;
    border-radius: 3px;
    font-weight:700;
}
.gg
{
    color:white;
    border: 3px solid black;
    font-weight:700;
}

.btn{
    background: transparent;
    color: blue;
    border: 2px solid blue;
    cursor: pointer;

}
.btn:hover{
    background: blue;
    color: white;
    outline:blue;
}
